<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Semujuk Homestay</title>
        <link rel="stylesheet" href="css/bootstrap.min.css"> 
        <link rel="stylesheet" th:href="@/{index.css}">
    </head>
<body>

    <div class="topnav">
        <a class="navbar-brand" href="index.html">
            <img src=""   alt="" />
        </a>
        <a href="#home">Homestay Semujuk</a>
        <a class="active" href="">Home</a>
        <a href="#news">About us</a>
        <a href="#contact">Booking</a>
        <div class="topnav-right">
            <a  href="login.html">Login</a>
            <a href="signUp.html">Sign Up</a>
        </div>
      </div>
</body>
</html>
