<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Login Page </title>  
<link rel="stylesheet" th:href="@/index.css">
</head>    
<body>    
    <div class="topnav">
        <a class="navbar-brand" href="index.html">
            <img src=""   alt="" />
        </a>
        <a  href="index.html">Home</a>
        <a href="#news">About us</a>
        <a href="#contact">Booking</a>
        <div class="topnav-right">
            <a href="login.html">Login</a>
            <a class="active" href="#about">Sign Up</a>
        </div>
      </div>
    <center> <h1> Create new account </h1> </center>   
    <form action="index.php" method="post">  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
            <label>Email Address : </label>   
            <input type="text" placeholder="Enter Email" name="email" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <label>Adress : </label>   
            <input type="text" placeholder="Enter Address" name="adress" required>  
            <button type="submit">Sign up</button>  <br> 
            <input type="checkbox" checked="checked"> Remember me  <br> 
            <a href="login.html">Already have an account</a>
        </div>   
    </form>     
</body>     
</html>  